# Database connection string (default is local SQLite)
DATABASE_URL="file:./dev.db"

# Admin Authentication Secret (optional, fallback provided in code)
ADMIN_AUTH_SECRET="blue-space-interiors-thane-admin-secret-2026"

# Next.js Node environment
NODE_ENV="production"
